<!--<div class="alert alert-warning" role="alert" id="">...</div>-->
<style>
    .bg2 {
        background-color: white;
        /*height: 580px;*/
        /*margin-top: 65px;*/
        /*overflow-y: scroll;*/
        /*margin-left: -50px;*/
        /*margin-right: 10px;*/
        margin-bottom: 20px;
    }

    .header {
        color: #008c09;
    }

    small {
        font-weight: 300 !important;
    }

    #notification_body{
        z-index: 2000;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 5px;
    }
    #main_notification{
        width: 50%;
        margin: auto;
        background-color: #00c0ef !important;
    }
</style>

<div id="notification_body">
</div>
<div class="top-nav" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!--<a ng-show="sch" href="/login">-->
                <!--<img ng-src="{{sch.logo}}" src="/img/profile-placeholder.jpg" width="30px"-->
                <!--style="float: left;width: 49px; height: 47px; margin: 2px 10px; border-radius: 50px;">-->
                <!--<p style="margin-top: 15px;color: white;">{{sch.shortform}}</p>-->
                <!--</a>-->
                <a href="/">
                    <img src="/images/logo.png" style="width: 120px;margin: 10px 30px;" id="logo">
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">

                    <ul data-ng-include src="topNav" ng-show="topNav" class="nav navbar-nav nav-bar-placeholder">

                    </ul>

                    <div class="vertical-line"></div>

                    <li class="top_nav_username">
                        <small>Welcome</small>
                        {{user_first_name}} -
                        <span ng-show="role_name=='su'" class="label label-success label-sm"> Super User </span>
                        <span ng-show="role_name=='admin'" class="label label-danger label-sm"> Admin </span>
                        <span ng-show="role_name=='dis'" class="label label-info label-sm"> Distributor </span>
                        <span ng-show="role_name=='agent'" class="label label-warning label-sm"> Agent </span>
                        <span ng-show="role_name=='sales'" class="label label-success label-sm"> Sales Person </span>
                    </li>
                    <li><a href="/login/logout" class="btn btn-circle btn-outline red">Log out</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->

    </nav>
</div>

<!-- BEGIN CONTAINER -->

<div class="page-container">
    <!-- BEGIN SIDEBAR -->

    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu "
                data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item" ng-class="{'active': activeSideBar=='dashboard'}">
                    <a href="#!/dashboard" class="nav-link nav-toggle">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span class="title">Dashboard</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item " ng-class="{'active': activeSideBar=='product'}">
                    <a href="#!/product" class="nav-link nav-toggle">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span class="title">Product</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <!--<li class="nav-item  " ng-class="{'active': activeSideBar=='payment'}">-->
                <!--<a href="#!/payment" class="nav-link nav-toggle">-->
                <!--<i class="fa fa-money" aria-hidden="true"></i>-->
                <!--<span class="title">Payment</span>-->
                <!--<span class="arrow"></span>-->
                <!--</a>-->
                <!--</li>-->
                <li class="nav-item  " ng-class="{'active': activeSideBar=='sales'}">
                    <a href="#!/sales" class="nav-link nav-toggle">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                        <span class="title">Sales</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="nav-item " ng-class="{'active': activeSideBar=='users'}">
                    <a href="#!/users" class="nav-link nav-toggle">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                        <span class="title">Users</span>
                        <span class="arrow"></span>
                    </a>
                </li>

                <!--<li class="nav-item  " ng-class="{'active': activeSideBar=='report'}">-->
                <!--<a href="#!/report" class="nav-link nav-toggle">-->
                <!--<i class="fa fa-laptop" aria-hidden="true"></i>-->
                <!--<span class="title">Report</span>-->
                <!--<span class="arrow"></span>-->
                <!--</a>-->
                <!--</li>-->

            </ul>
            <!-- END SIDEBAR MENU -->
            <!--<img src="/img/smartresults_logo.png" class="sidebar-img" />-->
            <div class="sidebar-img">
                powered by <a href="http://www.bitsweaver.com"><img src="/images/bitsweaver_logo.svg"
                                                                    width="100px"/> </a>
            </div>
        </div>
        <!-- END SIDEBAR -->
    </div>
</div>

<div ng-view class="ng-content bg2">
</div>


</div>
</div>
