<style>
    .login_background {
    background-image: url("../../images/bg_login.png");
    background-size: cover;
    /*margin-top: -42px;*/
    /*margin-left: -1px;*/
    /*width: 108%;*/
        /*position: fixed;*/
    }
    .header{
        color: #008c09;
    }
</style>
<!DOCTYPE html>
<html ng-app="HerbalTech" ng-controller="LayoutController">
<head>
    <title><%=typeof title == 'undefined' ? 'HerbalTech' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dashboard/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/dashboard/datepicker3.css">
    <link rel="stylesheet" href="/styles/dashboard/daterangepicker-bs3.css">
    <link rel="stylesheet" href="/styles/dashboard/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/dashboard/loading-bar.css">
    <link rel="stylesheet" href="/styles/dashboard/main.css">
    <link rel="stylesheet" href="/styles/dashboard/sidebar.css">
    <link rel="stylesheet" href="/styles/dashboard/user_dashboard.css">
    <!--STYLES END-->
</head>

<body class="login_background">
<%- body %>



<!--
    Client-side Templates
    ========================

    HTML templates are important prerequisites of modern, rich client applications.
    To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
    that you load these templates client-side.

    By default, your Gruntfile is configured to automatically load and precompile
    client-side JST templates in your `assets/templates` folder, then
    include them here automatically (between TEMPLATES and TEMPLATES END).

    To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
    For example, here are a few things you could do:

        + Import templates from other directories
        + Use a different template engine (handlebars, jade, dust, etc.)
        + Internationalize your client-side templates using a server-side
          stringfile before they're served.
-->

<!--TEMPLATES-->

<!--TEMPLATES END-->


<!--

  Client-side Javascript
  ========================

  You can always bring in JS files manually with `script` tags, or asynchronously
  on the client using a solution like AMD (RequireJS).  Or, if you like, you can
  take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

  By default, files in your `assets/js` folder are included here
  automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
  CoffeeScript (.coffee) are supported. In production, your scripts will be minified
  and concatenated into a single file.

  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
  For example, here are a few things you could do:

      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript

-->

<!--SCRIPTS-->
<script src="/js/dependencies/jquery-3.1.0.min.js"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dashboard/depend/angular.min.js"></script>
<script src="/js/dashboard/depend/angular-route.min.js"></script>
<script src="/js/dashboard/depend/ui-bootstrap.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/dashboard/angular-animate.min.js"></script>
<script src="/js/dashboard/app.config.js"></script>
<script src="/js/dashboard/bootstrap-datepicker.js"></script>
<script src="/js/dashboard/dashbord_controller/DashboardIndexController.js"></script>
<script src="/js/dashboard/daterangepicker.js"></script>
<script src="/js/dashboard/jquery.thooClock.js"></script>
<script src="/js/dashboard/layout_controller.js"></script>
<script src="/js/dashboard/loading-bar.js"></script>
<script src="/js/dashboard/moment.js"></script>
<script src="/js/dashboard/moment.min.js"></script>
<script src="/js/dashboard/product_controller/ProductBatchController.js"></script>
<script src="/js/dashboard/product_controller/ProductDetailsController.js"></script>
<script src="/js/dashboard/product_controller/ProductDetailsDisController.js"></script>
<script src="/js/dashboard/product_controller/ProductIndexController.js"></script>
<script src="/js/dashboard/realtime-api.js"></script>
<script src="/js/dashboard/sales_app_controller/SalesAppController.js"></script>
<script src="/js/dashboard/sales_controller/SalesDetailsContrtoller.js"></script>
<script src="/js/dashboard/sales_controller/SalesIndexController.js"></script>
<script src="/js/dashboard/users_controller/UserControllerIndex.js"></script>
<script src="/js/dashboard/users_controller/UserDetailsController.js"></script>
<!--SCRIPTS END-->
</body>
</html>
