<style>
    .login_background{
        background-image: url("../images/bg_login.png");
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    body{
        overflow-y: hidden;
    }
    .logo{
        margin-top: 400px;
        margin-left: 49px;
    }
    .welcome_text{
        color: #ffffff;
    }
    .login_col{
        margin-top: 300px;
    }
    .space1{
        margin-top: 15px;
    }
    .name{
        margin-top: 103px;
        color: #ffffff;
    }
    .name2{
        margin-top:  15px;
        color: #ffffff;
    }
</style>
<section class="login_background">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img src="images/logo.png" class="img-responsive logo" >
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3"></div>
            <div class="col-xs-12 col-sm-4 col-md-4 login_bg2 login_col">
                <!--login errors-->
                <% if(req.session.flash && req.session.flash.error){ %>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span> <%- req.flash('error') %> </span>
                </div>
                <% } %>

                <h3 class="welcome_text Proxima_Nova_Regular pull-left">Login</h3>
                <form method="post" action="/login/login">
                    <div>
                        <p class="name">Username</p>
                        <div class="form-group search space1">
                            <input type="text" class="form-control form_local Proxima_Nova_Bold"
                                   placeholder="Username here" id="username" name="username"/>
                        </div>
                    </div>
                    <div>
                        <p class="name2">Password</p>
                        <div class="form-group">
                            <i class="fa fa-unlock-alt fa_local" aria-hidden="true"></i>
                            <input type="password" class="form-control form_local Proxima_Nova_Bold"
                                   placeholder="Password here" id="password" name="pass"/>
                        </div>

                    </div>
                    <div>
                        <a href="">
                            <button type="submit" class="btn btn-default signin Proxima_Nova_Bold">Log In</button>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
