<!--login errors-->
<% if(req.session.flash && req.session.flash.error){ %>
<div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span> <%- req.flash('error') %> </span>
</div>
<% } %>

<div class="row" style="margin-top: 10%;">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

        <div class="login-panel panel panel-default">

            <div class="panel-heading">
                <h4> Reset Password</h4>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

                </div>
            </div>

            <div class="panel-body">

                <form id="login_form" role="form" method="POST" action="/login/reset" accept-charset="utf-8">
                    <fieldset >
                        <div class="form-group">
                            <input class="form-control" placeholder="New Password" name="new_pass" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm New Password" name="cnew_pass" type="password" value="">
                        </div>

                        <input type="submit" name="submit" class="btn btn-primary" value="Reset Password" />
                    </fieldset>
                </form>



            </div>




    </div>



</div><!-- /.col-->

</div><!-- /.row -->
