

<div class="row" style="margin-top: 10%;">

    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

        <div class="login-panel panel panel-default">

            <div class="panel-heading">
                <h4> Number Verification</h4>
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

                </div>
            </div>

            <div class="panel-body">

                <form id="login_form" role="form" method="POST" action="/login/send_verification_code" accept-charset="utf-8">
                    <fieldset>

                        <div class="form-group">
                         <h4> <%= number%></h4>     <input type="submit" name="submit" class="btn btn-primary" value="Verify my number" />
                        </div>

                    </fieldset>
                </form>



            </div>




        </div>



    </div><!-- /.col-->

</div><!-- /.row -->
