.ng-content {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 100px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #EEEEEE;
}
.top_nav_username{
    margin: 15px 20px 0 0;
}

.btn-group > .dropdown-toggle:not(:first-child){
    background-color: transparent;
}

.sub-menu > .nav-item a{
    color: #b4bcc8;
}
.sub-menu > .nav-item a:hover{
    color: #f04f23;
    text-underline: none;
}
.click{
    cursor: pointer;
}

.vertical-line{
    width: 1px;
    float: left;
    height: 50px;
    background: #999;
    margin: 5px 15px 0 0;
}
.no-btn-style{
    background-color: white;
}
