/*remove this in production*/
#yii-debug-toolbar{
    display: none !important;
}

.page-header-fixed .page-container {
    margin-top: 46px;
}
.page-container {
    margin: 0;
    padding: 0;
    position: relative;
}

.page-sidebar.collapse {
    display: block;
    max-height: none !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar.navbar-collapse:hover, .page-sidebar.navbar-collapse {
    box-shadow: none;
    padding: 0;
}
.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-sidebar .page-sidebar-menu > li.sidebar-search-wrapper, .page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-search-wrapper, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-toggler-wrapper {
    border: 0 !important;
}
.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
    background: url(../img/sidebar_inline_toggler_icon_darkblue.jpg);
}
.page-sidebar .sidebar-toggler, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    display: block;
    filter: alpha(opacity=70);
    float: right;
    height: 27px;
    margin-right: 19px;
    margin-top: 15px;
    opacity: .7;
    width: 30px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.page-sidebar{
    position: fixed;
    bottom: 0px;
    top: 0px;
    margin-top: 50px;
    width: 220px;
}

.page-sidebar .page-sidebar-menu > li.sidebar-search-wrapper::after, .page-sidebar .page-sidebar-menu > li.sidebar-search-wrapper::before, .page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper::after, .page-sidebar .page-sidebar-menu > li.sidebar-toggler-wrapper::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-search-wrapper::after, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-search-wrapper::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-toggler-wrapper::after, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.sidebar-toggler-wrapper::before {

    content: " ";
    display: table;

}
.page-sidebar .sidebar-search .remove, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .remove {
    display: none;
}
a {
    color: #337ab7;
    text-shadow: none;
}
.page-sidebar .sidebar-search .remove > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .remove > i {
    font-size: 16px;
}
li [class*=" icon-"], li [class^="icon-"] {
    position: relative;
    top: 1px;
}
li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^="fa-"], li [class^="glyphicon-"], li [class^="icon-"] {
    display: inline-block;
    text-align: center;
    width: 1.25em;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^="fa-"]:not(.fa-stack), [class^="glyphicon-"], [class^="icon-"] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.icon-action-redo, .icon-action-undo, .icon-anchor, .icon-arrow-down, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-badge, .icon-bag, .icon-ban, .icon-bar-chart, .icon-basket, .icon-basket-loaded, .icon-bell, .icon-book-open, .icon-briefcase, .icon-bubble, .icon-bubbles, .icon-bulb, .icon-calculator, .icon-calendar, .icon-call-end, .icon-call-in, .icon-call-out, .icon-camcorder, .icon-camera, .icon-check, .icon-chemistry, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-compass, .icon-control-end, .icon-control-forward, .icon-control-pause, .icon-control-play, .icon-control-rewind, .icon-control-start, .icon-credit-card, .icon-crop, .icon-cup, .icon-cursor, .icon-cursor-move, .icon-diamond, .icon-direction, .icon-directions, .icon-disc, .icon-dislike, .icon-doc, .icon-docs, .icon-drawer, .icon-drop, .icon-earphones, .icon-earphones-alt, .icon-emoticon-smile, .icon-energy, .icon-envelope, .icon-envelope-letter, .icon-envelope-open, .icon-equalizer, .icon-eye, .icon-eyeglasses, .icon-feed, .icon-film, .icon-fire, .icon-flag, .icon-folder, .icon-folder-alt, .icon-frame, .icon-game-controller, .icon-ghost, .icon-globe, .icon-globe-alt, .icon-graduation, .icon-graph, .icon-grid, .icon-handbag, .icon-heart, .icon-home, .icon-hourglass, .icon-info, .icon-key, .icon-layers, .icon-like, .icon-link, .icon-list, .icon-lock, .icon-lock-open, .icon-login, .icon-logout, .icon-loop, .icon-magic-wand, .icon-magnet, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-map, .icon-microphone, .icon-mouse, .icon-moustache, .icon-music-tone, .icon-music-tone-alt, .icon-note, .icon-notebook, .icon-paper-clip, .icon-paper-plane, .icon-pencil, .icon-picture, .icon-pie-chart, .icon-pin, .icon-plane, .icon-playlist, .icon-plus, .icon-pointer, .icon-power, .icon-present, .icon-printer, .icon-puzzle, .icon-question, .icon-refresh, .icon-reload, .icon-rocket, .icon-screen-desktop, .icon-screen-smartphone, .icon-screen-tablet, .icon-settings, .icon-share, .icon-share-alt, .icon-shield, .icon-shuffle, .icon-size-actual, .icon-size-fullscreen, .icon-social-dribbble, .icon-social-dropbox, .icon-social-facebook, .icon-social-tumblr, .icon-social-twitter, .icon-social-youtube, .icon-speech, .icon-speedometer, .icon-star, .icon-support, .icon-symbol-female, .icon-symbol-male, .icon-tag, .icon-target, .icon-trash, .icon-trophy, .icon-umbrella, .icon-user, .icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-users, .icon-vector, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-wallet, .icon-wrench {
    font-family: Simple-Line-Icons;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.page-sidebar .sidebar-search .input-group, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
    border-bottom: 1px solid #435060;
}
.page-sidebar .sidebar-search .input-group, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    background-color: #364150;
    color: white;
}
.page-sidebar .sidebar-search, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search {
    margin: 22px 18px;
    padding: 0;
}
.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    height: auto;
    line-height: auto;
    padding: 0;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.page-sidebar .sidebar-search .input-group .input-group-btn .btn, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn {
    background-color: transparent;
    background-position: 100% 3px;
    background-repeat: no-repeat;
    padding: 2px 0 0;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    /*background: #2C3542;*/
    background: #2C3542 ;
    border-top-color: transparent;
    color: #f04f23;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #2C3542;
    /*background: #f04f23 ;*/
    color: #f04f23;
}
.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    border: none;
    font-size: 14px;
    text-shadow: none;
}
.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a {
    font-size: 14px;
}
.page-sidebar .page-sidebar-menu > li.start > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.start > a {
    border-top-color: transparent !important;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: 1px solid #3d4957;
    color: #b4bcc8;
}
.page-sidebar .page-sidebar-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a {
    position: relative;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border: 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu li.active .sub-menu, .page-sidebar-menu.page-sidebar-menu-hover-submenu li.open .sub-menu {
    display: none !important;
}
.page-sidebar .page-sidebar-menu .sub-menu.always-open, .page-sidebar .page-sidebar-menu li.active > .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu.always-open, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li.active > .sub-menu {
    display: block;
}

.page-sidebar .page-sidebar-menu > li.heading, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading {
    padding: 15px;
}
.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    color: #708096;
}
.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.uppercase {
    text-transform: uppercase !important;
}

.page-sidebar .page-sidebar-menu > li, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}
.page-sidebar .page-sidebar-menu > li.heading + li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading + li > a {
    border-top: 0;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: 1px solid #3d4957;
    color: #b4bcc8;
}
.page-sidebar .page-sidebar-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a {
    position: relative;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border: 0;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 25px;
    position: relative;
    text-decoration: none;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
    display: none;
    list-style: none;
    margin: 8px 0;
    padding: 0;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #364150;
}
.page-sidebar-menu{
    margin-left:10px;
}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    border-top: 1px solid #3d4957;
    color: #b4bcc8;
}

.page-container .col-md-2{
    padding-left:0;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
    box-shadow: 5px 5px rgba(44,53,66,.2);
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
    margin-left: 220px;
    margin-top: -40px;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    display: inline-block !important;
}
.page-sidebar-menu-hover-submenu li:hover > .sub-menu {
    background: #323c4b !important;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: none;
    padding: 10px;
    position: absolute;
    width: 210px;
    z-index: 2000;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.page-sidebar .page-sidebar-menu .sub-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu {
    display: none;
    list-style: none;
    margin: 8px 0;
    padding: 0;
}
footer{
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: 1px 0px 2px rgb(153, 153, 153);
    padding: 10px 10px 0;
    position: fixed;
    width: 100%;
}
.nav-link > .title{
    font-size: 16px;
}
.nav-link > i{
    font-size: 20px;
}

.navbar-brand > img{
    width: 60px;

}
.navbar-brand > p{
    margin-top: 10px;
}
.navbar-default .navbar-brand{
    padding-top: 0px;
    text-align: center;
    color: white;
    margin-left: 10px !important;
}
.navbar-header{
    width: 225px;
    background-color: #2C3542;
    margin-left: -20px !important;
}
.navbar{
    border: none;
    background-color: white;
    box-shadow: 0 0 2px #474747;
}
.btn.btn-outline.red {
    border-color: #e7505a;
    color: #e7505a;
    background: 0 0;
}
.btn.btn-circle {
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 5px;
}
.btn.btn-outline.red:hover{
    background-color: #e7505a;
    color: white;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #EEEEEE;
}

.error{
    position: absolute;
    top:0;
    z-index: 10000;
    left:50%;
}
.card{
    background-color: white;
    margin-top: 20px;
    padding: 10px 20px;
}
.center{
    text-align: center;
}
.sidebar-img{
    text-align: center;
    width: 220px;
    background: #75879F;
    padding: 15px;
    position: fixed;
    bottom: 0;
}

.color-brand{
    background-color: #e7505a;
    color: white;
    border-color: #f04f23;
}
body{
    background-color: #EEEEEE;
}
.feedback{
    max-width: 100%px;
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-left: 40%;
    border: 1px solid;
    box-shadow: 0 0 5px #999;
    margin-top: 15px;
}
.feedback > img{
    float: left;
}
.feedback > p{
    max-width: 100%px;
    margin-left: 40px;
    margin-top: -7px;
}
h2, h4{
    font-family: "Open Sans",sans-serif;
}
h2{
    font-weight: 300;
    font-size: 24px;
    letter-spacing: -1px;
}
h4 > label{
    font-size: 14px;
}

h2 > label{
    font-size: 20px;
}
.invalid{
    border: 1px solid #ff4d4d;
}
