.btn.btn-outline.green {
    border-color: #32c5d2;
    color: #32c5d2;
    background: 0 0;
}

.nav-tabs > li.active > a {
    border: 0;
    color: #333;
}
 .nav-tabs > li > a {
    background: 0 0 !important;
    border: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #737373;
}
.nav-tabs > li.active {
    background: 0 0;
    border-bottom: 4px solid #36c6d3;
    position: relative;
}
.nav-tabs > li {
    margin: 0;
}
.nav-tabs > li.open > a, .nav-tabs > li:hover > a {
    border: 0;
    background: 0 0 !important;
    color: #333;
}
.nav-tabs > li.open, .nav-tabs > li:hover {
    background: 0 0;
    border-bottom: 4px solid #9fe4ea;
}


.tab-content {
    margin-top: 0;
    border: 0;
    border-top: 1px solid #eef1f5;
    padding: 30px 0;
}

.profile ul.profile-nav li a.profile-edit {
    top: 0;
    right: 0;
    margin: 0;
    color: #fff;
    opacity: .6;
    border: none;
    padding: 3px 9px;
    font-size: 12px;
    background: #000;
    position: absolute;
    filter: alpha(opacity=60);
}
.profile ul.profile-nav li a {
    color: #557386;
    display: block;
    font-size: 14px;
    padding: 8px 10px;
    margin-bottom: 1px;
    background: #f0f6fa;
    border-left: solid 2px #c4d5df;
}
.profile-info h1 {
    color: #383839;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
}
.font-green {
    color: #32c5d2 !important;
}
.uppercase {
    text-transform: uppercase !important;
}
.sbold {
    font-weight: 600 !important;
}

.profile p {

    color: #636363;
    font-size: 13px;

}
.profile-info ul {
    margin-bottom: 15px;
}
.profile-info li {
    color: #6b6b6b;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: 0 !important;
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet > .portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.portlet > .portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
}
.portlet > .portlet-title > .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}
.sale-summary .caption {
    border-color: #c9c9c9;
}
.font-red {
    color: #e7505a !important;
}
.sbold {
    font-weight: 600 !important;
}
.portlet > .portlet-title > .tools {
    float: right;
    display: inline-block;
    padding: 12px 0 8px;
}
.sale-summary ul {
    margin-top: -10px;
}
.sale-summary li .sale-info {
    margin-top: 4px;
    float: left;
    color: #646464;
    font-size: 14px;
    text-transform: uppercase;
}
.sale-summary li {
    padding: 10px 0;
    overflow: hidden;
    border-top: solid 1px #eee;
}
.sale-summary li .sale-num {
    float: right;
    color: #169ef4;
    font-size: 20px;
    font-weight: 300;
}
.portlet > .portlet-title > .tools > a.reload {
    background-image: url(/images/portlet-reload-icon.png);
    width: 13px;
}
.portlet > .portlet-title > .tools > a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
}
.ver-inline-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.ver-inline-menu li {
    position: relative;
    margin-bottom: 1px;
}
.ver-inline-menu li.active a, .ver-inline-menu li:hover a {
    font-size: 14px;
}
.ver-inline-menu li.active a, .ver-inline-menu li.active i {
    color: #fff;
    background: #169ef4;
    text-decoration: none;
}
.ver-inline-menu li.active a {
    border-left: solid 2px #0c91e5;
}
.ver-inline-menu li a {
    font-size: 14px;
    font-weight: 300;
    color: #557386;
    display: block;
    background: #f0f6fa;
    border-left: solid 2px #c4d5df;
}
.ver-inline-menu li.active a, .ver-inline-menu li.active i {
    color: #fff;
    background: #169ef4;
    text-decoration: none;
}
.ver-inline-menu li.active i {
    background: #0c91e5 !important;
}
.tabbable::after, .tabbable::before, .tiles::after, .tiles::before {
    display: table;
    content: " ";
}
