<style>
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        #logo {
            visibility: hidden;
        }
        .page-container{
            visibility: hidden;
        }
        .navbar-default .navbar-toggle {
            margin-top: -51px;
        }
    }
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
        #logo {
            visibility: hidden;
        }
        .page-container{
            visibility: hidden;
        }
        .navbar-right {
            float: right !important;
            margin-right: -15px;
            margin-top: -55px;
        }
    }
    .local{
        margin-right: 45px;
        margin-left: -30px;
        margin-top: 220px;
    }
    .name{
        color: #ffffff;
        margin-top: 130px;
        font-size: 18px;
    }
    .icon_txt{
        color: white;
        margin-top: 5px;
    }
</style>
<div class="row" style="margin-top: 10%;">
        <div class="col-xs-10  col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="panel-heading">
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-2 col-md-4 col-md-offset-4">
                    <img width="150px" height="120px" id="currentprofile" src="../../images/userprofile.png" />
                </div>
            </div>
            <center><h5 class="name">ERIC NII SOWAH BADGER</h5></center>
        </div>
        <div class="container local">
            <div class="row">
                <div class="col-xs-4">
                    <a href="#" title="Sell">
                        <img  width="70px" height="60px" id="btnsell" src="../../images/sell.png" />
                        <center><p class="icon_txt">Sell</p></center>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" title="Feedback">
                        <img  width="70px" height="60px" id="btnfeedback" src="../../images/feedback.png" />
                        <center><p class="icon_txt">Feedback</p></center>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" title="Settings">
                        <img  width="70px" height="60px" id="btnsettings" src="../../images/settings.png" />
                        <center><p class="icon_txt">Settings</p></center>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-top: 14px;">
                <div class="col-xs-4">
                    <a href="#" title="Report">
                        <img  width="70px" height="60px" id="btnreport" src="../../images/sell.png" />
                        <center><p class="icon_txt">Report</p></center>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" title="Notification">
                        <img  width="70px" height="60px" id="btnnotification" src="../../images/notification.png" />
                        <center><p class="icon_txt">Notification</p></center>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#" title="Complains">
                        <img  width="70px" height="60px" id="btncomplains" src="../../images/trash.png" />
                        <center><p class="icon_txt">Complains</p></center>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!--Batch Number Selection modal-->
<div class="modal fade" id="select_service_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabe5">Choose Payment Option</h4>
                <!--<div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>-->
            </div>
            <div class="modal-body" id="select_batch_number_modal_body">
                <form name="randform">
                    <div class="row">
                        <div class="col-md-3"><label>Batch Number</label></div>
                        <div class="col-md-9"><select ng-model="product_setup_model.batch.batch_num"
                                                      name="batch_num">
                            <option ng-repeat="batch in batch_nums" value="{{batch.id+','+batch.batch_num}}">{{batch.batch_num}}</option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" ng-click="select_batch()">Add</button>
            </div>
        </div>
    </div>
</div>


<form>
    <div class="row">
        <div class="col-md-3"><label>Product Name *</label></div>
        <div class="col-md-9"><select ng-model="product_setup_model.product_info.name"
                                      name="product_id" class="form-control">
            <option ng-click="price()" ng-repeat="product in products" value="{{product.tbl_product.id}}">{{product.tbl_product.name}}</option>
        </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>Quantity *</label></div>
        <div class="col-md-9"><input type="text" class="form-control" placeholder="Quantity"
                                     name="quantity" ng-model="product_setup_model.product_info.quantity">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>Details *</label></div>
        <div class="col-md-9"><input type="text" class="form-control" placeholder="Details"
                                     name="details" ng-model="product_setup_model.product_info.details">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>Left *</label></div>
        <div class="col-md-9"><input type="text" class="form-control" placeholder="Left"
                                     name="left" ng-model="product_setup_model.product_info.left">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><label>Price *</label></div>
        <div class="col-md-9"><input type="text" class="form-control"
                                     name="price" ng-model="product_setup_model.product_info.price">

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3"><label>Batch Number *</label></div>
        <div class="col-md-9">
            <button type="button" data-toggle="modal" data-target="#select_batch_model" class="btn btn-primary" ng-click="" ng-hide = "IsHidden">Select Existing Batch Number</button>
            <button type="button" data-toggle="modal" ng-click="getNumber()" data-target="#add_batch_model" class="btn btn-primary" ng-hide = "IsHidden">Create New Batch Number</button>
            <div>{{batch_display.batch_num}}</div>
            <div ng-hide = "IsHidden2" id="batch_id" data-batch_id="{{batch.id}}">{{batch_display}}</div>
        </div>
    </div>
</form>