<style>
    .btn-distri {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .btn-distri:hover {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .product {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header {
        color: #008c09;
    }

    .distribute {
        margin-top: 50px;
        margin-left: 1px;
    }

    .summary {
        background-color: #008c09;
        padding: 10px 120px;
        color: white;
        font-size: 23px;
        margin-top: 0px;
        margin-left: -16px;
        width: 450px;
    }
    .summary2 {
        background-color: #008c09;
        padding: 20px 30px;
        color: white;
        font-size: 23px;
        margin-top: 0px;
        margin-left: -16px;
        width: 450px;
    }
    .border_sum{
        border: 5px solid #008c09;
        width: 264px;
    }
    .dist_num{
        margin-left: 15px;
        font-weight: bold;
        color: #008c09;
    }
    .dist_date{
        margin-left: 6px;
        color: #008c09;
    }
    .btn-green {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        margin-left: -13px;
    }
    .btn-green2 {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        padding: 6px 56px;
    }
    .btn-green:hover {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        margin-left: -13px;
    }
    .btn-green2:hover {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        padding: 6px 56px;
    }
</style>
<div>
    <!--<div class="container ">-->
    <div class="row">
        <div class="col-xs-12 col-md-4" style="padding-left: 50px;">
            <img style="width: 90%;" class="img-responsive pic-bordered product" src="data:image/jpg;base64,{{direct_cash_details.image}}"/>
            <h2 style="margin-left: 50px; color: #008c09;">{{direct_cash_details.name}}</h2>

        </div>
        <div class="col-xs-12 col-md-4 product">
        </div>
        <div class="col-xs-12 col-md-4 product">
            <h3 class="caption summary">CUSTOMER DETAILS</h3>
            <div class="summary2">
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Telephone No: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.telephone}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Product Name: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.tbl_product}}</div>
                </div>

            </div>
            <div class="product">
                <h3 class="caption summary">SALES TRANSACTION</h3>
                <div class="summary2">
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Transaction ID: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.id}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Sales Person: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.tbl_user}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Price: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.price}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Payment Type: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.payment_type}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Payment ID: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.payment_ID}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="font-size: 18px;"><label>Amount Paid: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{direct_cash_details.amount_paid}}</div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6" style="font-size: 20px;">
                    <button type="button" class="btn btn-green2" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>