<style>
    .header {
        color: #008c09;
    }
</style>
<div>
    <!--<div class="container ">-->
    <!--<div class="row">-->
    <div class="page-content-wrapper" style="padding: 27px;">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h3 class="page-title"> {{user_details.login.username}}
                <small>{{(user_details.login.tbl_role.weight == 0) ? "Sales Person" :
                    (user_details.login.tbl_role.weight == 1) ? "Agent" : (user_details.login.tbl_role.weight == 2)
                    ?
                    "Distributor" : (user_details.login.tbl_role.weight == 4) ? "Admin":"Super User"}}
                </small>
            </h3>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="profile">
                <div class="tabbable-line tabbable-full-width">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Deduction">
                            <div class="tab-pane active" id="deduction">
                                <div class="">
                                    <div class="container">
                                        <div class="bg2">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr class="header">
                                                    <th>Transaction ID</th>
                                                    <th>Product Name </th>
                                                    <th>Price </th>
                                                    <th>Sales Person</th>
                                                    <th>Date of Transaction</th>
                                                </tr>
                                                </thead>
                                                <tbody class="header">
                                                <tr ng-repeat="deduction in deductions" class="clickable" ng-click="getSalesDetails(deduction.id)" >
                                                    <td>{{deduction.id}}</td>
                                                    <td>{{deduction.tbl_product}}</td>
                                                    <td>{{deduction.price}}</td>
                                                    <td>{{deduction.tbl_user}}</td>
                                                    <td>{{deduction.createdAt | date:'MMM dd yyyy  hh:mm'}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <!--################-->
                        <!--User Details Tab-->
                        <!--################-->
                        <uib-tab index="1" heading="Direct Cash">

                            <div class="">
                                <div class="container">
                                    <div class="bg2">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr class="header">
                                                <th>Transaction ID</th>
                                                <th>Product Name </th>
                                                <th>Price </th>
                                                <th>Sales Person</th>
                                                <th>Date of Transaction</th>
                                            </tr>
                                            </thead>
                                            <tbody class="header">
                                            <tr ng-repeat="direct_cash in direct_cashes" class="clickable" ng-click="getDirectCashDetails(direct_cash.id)" >
                                                <td>{{direct_cash.id}}</td>
                                                <td>{{direct_cash.tbl_product}}</td>
                                                <td>{{direct_cash.price}}</td>
                                                <td>{{direct_cash.tbl_user}}</td>
                                                <td>{{direct_cash.createdAt | date:'MMM dd yyyy  hh:mm'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <!--<uib-tab index="2" heading="Info">-->
                        <!--<div class="tab-pane" id="info">-->
                        <!--</div>-->
                        <!--&lt;!&ndash;end tab-pane&ndash;&gt;-->
                        <!--</uib-tab>-->
                    </uib-tabset>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
</div>
<!--New Deduction Creation modal-->
<div class="modal fade" id="myModalDeduction" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Deduction Amount </h4>
            </div>
            <form id="serialnoform">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3"><label>Amount *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Amount"
                                                     name="amount" ng-model="sales_setup_model.deduction.amount">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="new_deduction()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!--Customers modal-->
<div class="modal fade" id="customers_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Customers</h4>
                <!--<div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>-->
            </div>
            <div class="modal-body" id="customers_modal_body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="header">
                        <th>Customers Names</th>
                    </tr>
                    </thead>
                    <tbody class="header">
                    <tr ng-repeat="customer in customers" class="clickable">
                        <td>{{customer.name}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>