<style>
    .btn-distri {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .btn-distri:hover {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .product {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .header {
        color: #008c09;
    }

    .distribute {
        margin-top: 50px;
        margin-left: 1px;
    }

    .summary {
        background-color: #008c09;
        padding: 10px 120px;
        color: white;
        font-size: 23px;
        margin-top: 0px;
        margin-left: -16px;
        width: 450px;
    }
    .summary2 {
        background-color: #008c09;
        padding: 20px 30px;
        color: white;
        font-size: 23px;
        margin-top: 0px;
        margin-left: -16px;
        width: 450px;
    }
    .border_sum{
        border: 5px solid #008c09;
        width: 264px;
    }
    .dist_num{
        margin-left: 15px;
        font-weight: bold;
        color: #008c09;
    }
    .dist_date{
        margin-left: 6px;
        color: #008c09;
    }
    .btn-green {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        margin-left: -13px;
    }
    .btn-green2 {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        padding: 6px 56px;
    }
    .btn-green:hover {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        margin-left: -13px;
    }
    .btn-green2:hover {
        background-color: #008c09;
        border-color: #008c09;
        font-size: 18px;
        color: white;
        padding: 6px 56px;
    }
</style>
<div class="">
    <!--<div class="container ">-->
    <div class="row">
        <div class="col-xs-12 col-md-4" style="padding-left: 50px;">
            <img style="width: 90%;" class="img-responsive pic-bordered product" src="data:image/jpg;base64,{{details.image}}"/>
        <h2 style="margin-left: 50px; color: #008c09;">{{details.name}}</h2>

        </div>
        <div class="col-xs-12 col-md-4 product">
            <div style="width: 100%; margin-left: -30px;">
                <img style="width: 100%;" class="img-responsive pic-bordered product" src="data:image/jpg;base64,{{details.doc_image}}"/>
                <h4 style="margin-left: 80px; color: #008c09;">OTHER DOCUMENTS</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 product">
            <h3 class="caption summary">CUSTOMER DETAILS</h3>
            <div class="summary2">
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Staff ID: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{details.staff_ID}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Telephone No: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{details.telephone}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Product Name: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{details.tbl_product}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6" style="font-size: 18px;"><label>Organisation: </label></div>
                    <div class="col-md-6" style="font-size: 20px;">{{details.organisation}}</div>
                </div>
            </div>
            <div class="product">
                <h3 class="caption summary">SALES TRANSACTION</h3>
                <div class="summary2">
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Transaction ID: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{details.id}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Sales Person: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{details.tbl_user}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="font-size: 18px;"><label>Amount Paid: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{details.total}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Price: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{details.price}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Monthly Deduction: </label></div>
                        <div class="col-md-6" style="font-size: 20px;">{{details.monthly_deduction}}</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6" style="font-size: 18px;"><label>Serial Number: </label></div>
                        <div class="col-md-6" style="font-size: 20px;" id="serial_num">{{details.serial_number}}</div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6" style="font-size: 18px;" ng-if="!details.serial_number">
                    <button type="button" class="btn btn-green" ng-hide="IsHidden" data-toggle="modal" data-target="#myModalSerialNo">Add Serial Number</button>
                </div>
                <div class="col-md-6" style="font-size: 20px;">
                    <button type="button" class="btn btn-green2" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div>-->
    <!--<h2>DIRECT CASH</h2>-->
    <!--&lt;!&ndash;<div class="container ">&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-4" style="padding-left: 50px;">-->
            <!--<img ng-repeat="detail in details" style="width: 90%;" class="img-responsive pic-bordered product" src="data:image/jpg;base64,{{detail.image}}"/>-->
            <!--<h2 style="margin-left: 50px; color: #008c09;" ng-repeat="detail in details">{{detail.name}}</h2>-->

        <!--</div>-->
        <!--<div class="col-xs-12 col-md-4 product">-->
            <!--<div style="width: 100%; margin-left: -30px;">-->
                <!--<img style="width: 100%;" class="img-responsive pic-bordered product" src="data:image/jpg;base64,{{details.doc_image}}"/>-->
                <!--<h4 style="margin-left: 80px; color: #008c09;">OTHER DOCUMENTS</h4>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-md-4 product">-->
            <!--<h3 class="caption summary">CUSTOMER DETAILS</h3>-->
            <!--<div class="summary2">-->
                <!--<div class="row ">-->
                    <!--<div class="col-md-6" style="font-size: 18px;"><label>Staff ID: </label></div>-->
                    <!--<div class="col-md-6" style="font-size: 20px;">{{details.staff_ID}}</div>-->
                <!--</div>-->
                <!--<div class="row ">-->
                    <!--<div class="col-md-6" style="font-size: 18px;"><label>Telephone No: </label></div>-->
                    <!--<div class="col-md-6" style="font-size: 20px;">{{details.telephone}}</div>-->
                <!--</div>-->
                <!--<div class="row ">-->
                    <!--<div class="col-md-6" style="font-size: 18px;"><label>Product Name: </label></div>-->
                    <!--<div class="col-md-6" style="font-size: 20px;">{{details.tbl_product}}</div>-->
                <!--</div>-->
                <!--<div class="row ">-->
                    <!--<div class="col-md-6" style="font-size: 18px;"><label>Organisation: </label></div>-->
                    <!--<div class="col-md-6" style="font-size: 20px;">{{details.organisation}}</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="product">-->
                <!--<h3 class="caption summary">SALES TRANSACTION</h3>-->
                <!--<div class="summary2">-->
                    <!--<div class="row ">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Transaction ID: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.id}}</div>-->
                    <!--</div>-->
                    <!--<div class="row ">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Sales Person: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.tbl_user}}</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Amount Paid: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.total}}</div>-->
                    <!--</div>-->
                    <!--<div class="row ">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Price: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.price}}</div>-->
                    <!--</div>-->
                    <!--<div class="row ">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Monthly Deduction: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.monthly_deduction}}</div>-->
                    <!--</div>-->
                    <!--<div class="row ">-->
                        <!--<div class="col-md-6" style="font-size: 18px;"><label>Serial Number: </label></div>-->
                        <!--<div class="col-md-6" style="font-size: 20px;">{{details.serial_number}}</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row ">-->
                <!--<div class="col-md-6" style="font-size: 18px;">-->
                    <!--<button type="button" class="btn btn-green" data-toggle="modal" data-target="#myModalSerialNo">Add Serial Number</button>-->
                <!--</div>-->
                <!--<div class="col-md-6" style="font-size: 20px;">-->
                    <!--<button type="button" class="btn btn-green2" data-dismiss="modal">Confirm</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Modal Serial No -->

<div class="modal fade" id="myModalSerialNo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Serial No </h4>
            </div>
            <form id="serialnoform">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3"><label>Serial Number *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Serial No"
                                                     name="serial" ng-model="dashboard_setup_model.serial.serial">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary" ng-click="new_serial()" >Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


