
<li class="nav-item start ">
    <a class="nav-link click" data-toggle="modal" data-target="#myModalDeduction">
        <span class="title">+ New Deduction</span>
    </a>
</li>

<li class="nav-item start ">
    <a class="nav-link click" data-toggle="modal" data-target="#customers_model">
        <span class="title">Customers</span>
    </a>
</li>



