<div style="padding: 20px;">
    <div>
        <h1><label>Batch Number:</label> {{batches[0].tbl_batch.batch_num}}</h1>
        <p><label>Batch Details:</label> {{batches[0].tbl_batch.details}}</p>
        <p><label>Created On:</label> {{batches[0].tbl_batch.createdAt | date: 'MMM dd yyyy - h:mm:ss a'}}</p>
        <p><label>Created By:</label> {{batches[0].tbl_user.f_name +' '+ batches[0].tbl_user.l_name }}</p>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr class="header">
            <th>Product name</th>
            <th>Details</th>
            <th>Date added</th>
            <th>Quantity</th>
            <th>Available Stock</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody class="header">
        <tr ng-repeat="batch in batches" class="clickable"
            ng-click="getProductDetails(batch.tbl_product_item.id)">
            <td>{{batch.tbl_product.name}}</td>
            <td>{{batch.tbl_product_item.details}}</td>
            <td>{{batch.tbl_product_item.createdAt | date: 'MMM dd yyyy - h:mm:ss a' }}</td>
            <td>{{batch.tbl_product_item.quantity}}</td>
            <td>{{batch.tbl_product_item.left}}</td>
            <td>{{batch.tbl_product_item.price}}</td>
        </tr>
        </tbody>
    </table>
</div>
