<div style="padding: 20px;">
    <div class="tabbable-line tabbable-custom-profile">
        <uib-tabset active="activeJustified">
            <uib-tab index="0" heading="Product Items">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="header">
                        <th>Product name</th>
                        <th ng-show="role_weight > 2">Batch number</th>
                        <th>Date added</th>
                        <th>Quantity</th>
                        <th>Available Stock</th>
                        <th>Price (GHc)</th>
                        <th>Added By</th>
                        <th ng-show="role_weight <= 2">Product Received</th>
                    </tr>
                    </thead>
                    <tbody class="header">
                    <!--####################### for Admin and Super Admin only ########################-->
                    <tr ng-show="role_weight > 2" ng-repeat="product_item in product_items" class="clickable"
                        ng-click="getProductDetails(product_item.tbl_product_item.id)">
                        <td>{{product_item.tbl_product.name}}</td>
                        <td>{{product_item.tbl_batch.batch_num}}</td>
                        <td>{{product_item.createdAt | date: 'MMM dd yyyy - h:mm:ss a'}}</td>
                        <td>{{product_item.tbl_product_item.quantity}}</td>
                        <td>{{product_item.tbl_product_item.left}}</td>
                        <td>{{product_item.tbl_product_item.price}}</td>
                        <td>{{product_item.tbl_user.f_name}} {{product_item.tbl_user.l_name}}</td>
                    </tr>
                    <!--####################### for distributor ########################-->
                    <tr ng-show="role_weight == 2" ng-repeat="product_item in product_items" class="clickable"
                        ng-click="getProductDetails(product_item.id)">
                        <td>{{product_item.product.name}}</td>
                        <td>{{product_item.createdAt | date: 'MMM dd yyyy - h:mm:ss a'}}</td>
                        <td>{{product_item.quantity}}</td>
                        <td>{{product_item.left}}</td>
                        <td>{{product_item.tbl_product_item.price}}</td>
                        <td>{{product_item.tbl_user.f_name}} {{product_item.tbl_user.l_name}}</td>
                        <td>
                            <span ng-if="!product_item.confirm" class="label label-danger">Not Confirmed</span>
                            <span ng-if="product_item.confirm" class="label label-info">Confirmed</span>
                        </td>
                    </tr>
                    <!--####################### for agents ########################-->
                    <tr ng-show="role_weight == 1" ng-repeat="product_item in product_items" class="clickable"
                        ng-click="getProductDetails(product_item.id)">
                        <td>{{product_item.product.name}}</td>
                        <td>{{product_item.createdAt | date: 'MMM dd yyyy - h:mm:ss a'}}</td>
                        <td>{{product_item.quantity}}</td>
                        <td>{{product_item.left}}</td>
                        <td>{{product_item.product_item.price}}</td>
                        <td>{{product_item.tbl_user.f_name}} {{product_item.tbl_user.l_name}}</td>
                        <td>
                            <span ng-if="!product_item.confirm" class="label label-danger">Not Confirmed</span>
                            <span ng-if="product_item.confirm" class="label label-info">Confirmed</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="1" heading="Products" ng-hide="role_weight < 3">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="header">
                        <th>Product Name</th>
                        <th>Product Details</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.createdAt | date: 'MMM dd yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab index="2" heading="Batch Numbers" ng-hide="role_weight < 3">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr class="header">
                        <th>Batch Number</th>
                        <th>Batch Details</th>
                        <th>Created On</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="batch in batch_nums" class="clickable" ng-click="getBatchDetails(batch.id)">
                        <td>{{batch.batch_num}}</td>
                        <td>{{batch.details}}</td>
                        <td>{{batch.createdAt | date: 'MMM dd yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<!--New Product Creation modal-->
<div class="modal fade" id="add_new_product_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel0">Add New Product</h4>
                <div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>
            </div>
            <div class="modal-body" id="product_setup_modal_body2">
                <h4>Product Details</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Product Name *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Product Name"
                                                     name="name" ng-model="product_setup_model.product_info.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Description *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Description"
                                                     name="description"
                                                     ng-model="product_setup_model.product_info.description">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" onclick="$('#add_new_product_model').modal('hide')" class="btn btn-primary"
                        ng-click="new_product()">Create
                </button>
            </div>
        </div>
    </div>
</div>


<!--Product_item Creation modal-->
<div class="modal fade" id="add_product_item_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Product</h4>
                <div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>
            </div>
            <div class="modal-body" id="product_setup_modal_body">
                <h4>Product Details</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Product Name *</label></div>
                        <div class="col-md-9"><select ng-model="product_setup_model.product_info.name"
                                                      name="product_id" class="form-control">
                            <option ng-repeat="product in product_names" value="{{product.id}}">{{product.name}}
                            </option>
                        </select></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Quantity *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Quantity"
                                                     name="quantity"
                                                     ng-model="product_setup_model.product_info.quantity">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Details *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Details"
                                                     name="details"
                                                     ng-model="product_setup_model.product_info.details">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Left *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Left"
                                                     name="left" ng-model="product_setup_model.product_info.left">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Price *</label></div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" placeholder="Price" name="price"
                                       ng-model="product_setup_model.product_info.price">
                                <div class="input-group-addon">.00</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3"><label>Batch Number *</label></div>
                        <div class="col-md-9">
                            <button type="button" data-toggle="modal" data-target="#select_batch_model"
                                    class="btn btn-primary" ng-click="" ng-hide="IsHidden">Select Existing Batch
                                Number
                            </button>
                            <button type="button" data-toggle="modal" ng-click="getNumber()"
                                    data-target="#add_batch_model" class="btn btn-primary" ng-hide="IsHidden">Create
                                New
                                Batch Number
                            </button>
                            <div>{{batch_display.batch_num}}</div>

                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary"
                        ng-click="create_product_item()">Create
                </button>
            </div>
        </div>
    </div>
</div>

<!--Batch Number Creation modal-->
<div class="modal fade" id="add_batch_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabe2">Add New Batch Number</h4>
                <!--<div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>-->
            </div>
            <div class="modal-body" id="batch_number_modal_body">
                <form name="randform">
                    <div class="row">
                        <div class="col-md-3"><label>Batch Number</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" disabled
                                                     name="batch_num"
                                                     ng-model="product_setup_model.batch.batch_num">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Details *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Details"
                                                     name="details" ng-model="product_setup_model.batch.details">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" ng-click="create_batch()">Add Batch</button>
            </div>
        </div>
    </div>
</div>

<!--Batch Number Selection modal-->
<div class="modal fade" id="select_batch_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabe5">Select Batch Number</h4>
                <!--<div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>-->
            </div>
            <div class="modal-body" id="select_batch_number_modal_body">
                <form name="randform">
                    <div class="row">
                        <div class="col-md-3"><label>Batch Number</label></div>
                        <div class="col-md-9"><select ng-model="tmp_select_batch_num"
                                                      name="batch_num" class="form-control">
                            <option ng-repeat="batch in batch_nums" value="{{batch.id+','+batch.batch_num}}">
                                {{batch.batch_num}}
                            </option>
                        </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" ng-click="select_batch()">Add</button>
            </div>
        </div>
    </div>
</div>
