<style>
    .btn-distri {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
        margin-bottom: 20px;
    }

    .btn-distri:hover {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .product {
        margin-top: 100px;
    }

    .header {
        color: #008c09;
    }

    .distribute {
        margin-top: 50px;
        margin-left: 1px;
    }

    .summary {
        background-color: #008c09;
        padding: 10px 50px;
        color: white;
        font-size: 18px;
        margin-top: 0px;
        margin-left: -16px;
        width: 255px;
    }

    .border_sum {
        border: 5px solid #008c09;
        width: 264px;
    }

    .product_receivers_container .dist_num {
        margin-left: 15px;
        font-weight: bold;
        /*color: #008c09;*/
    }

    .product_receivers_container .dist_date {
        margin-left: 6px;
        /*color: #008c09;*/
    }

    .product_receivers_container > p {
        margin-bottom: 0;
    }

    .product_receivers_container > small {
        color: #999;
    }

    .product_receivers_container .verified {
        color: #4dd0e1;
    }

    .product_receivers_container {
        border-bottom: 1px solid #ccc;
    }

    .not-verified {
        color: #c62828;
    }
</style>
<!--<div class="">-->
<!--<div class="container ">-->
<div class="row">
    <div class="col-xs-12 col-md-3">
        <img class="img-responsive pic-bordered product" src="/images/product.png">
    </div>
    <div class="col-xs-12 col-md-6 product" ng-show="role_weight == 2">
        <h1 class="header">
            {{product.product.name}}
            <span ng-if="!product.dis_product.confirm" class="label label-danger">Not Confirmed</span>
            <span ng-if="product.dis_product.confirm" class="label label-info">Confirmed</span>
        </h1>
        <hr>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Description: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.product.description}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Stock Received: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.dis_product.quantity}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Product Details: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.dis_product.tbl_product_item.details}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Available Stock: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">{{product.dis_product.left}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Product Price: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">¢ {{product.dis_product.tbl_product_item.price}}</div>
        </div>
        <div class="row header distribute">
            <button type="button" class="btn btn-distri" ng-if="(product.dis_product.left > 1) && product.dis_product.confirm" data-toggle="modal" ng-click="getNumber()" data-target="#distribute_model"> Distribute
            </button>
            <button type="button" class="btn btn-distri" ng-hide="product.dis_product.confirm"
                    ng-click="confirm_receipt(product.dis_product.id)"> Confirm Receipt
            </button>
        </div>
    </div>

    <!--############### for agent ################-->
    <div class="col-xs-12 col-md-6 product" ng-show="role_weight == 1">
        <h1 class="header">
            {{product.product_item.product.name}}
            <span ng-if="!product.dis_product.confirm" class="label label-danger">Not Confirmed</span>
            <span ng-if="product.dis_product.confirm" class="label label-info">Confirmed</span>
        </h1>
        <hr>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Description: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.product_item.product.description}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Stock Received: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.dis_product.quantity}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Product Details: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product.product_item.details}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Available Stock: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">{{product.dis_product.left}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Product Price: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">¢ {{product.product_item.price}}</div>
        </div>
        <div class="row header distribute">
            <button type="button" class="btn btn-distri" ng-if="(product.dis_product.left > 1) && product.dis_product.confirm" data-toggle="modal" ng-click="getNumber()" data-target="#distribute_model"> Distribute
            </button>
            <button type="button" class="btn btn-distri" ng-hide="product.dis_product.confirm"
                    ng-click="confirm_receipt(product.dis_product.id)"> Confirm Receipt
            </button>
        </div>
    </div>

    <!--############## distribution summary ####################-->

    <div class="col-xs-12 col-md-5 product border_sum">
        <h2 class="caption summary">Distribution Summary</h2>
        <div class="row header">
            <div class="col-md-12" ng-repeat="agent in dis_summary.agent" style="font-size: 18px;">
                <a href="#!/users/details/{{agent.agent.id}}">
                    <div class="product_receivers_container">
                        <p>{{agent.agent.f_name}} {{agent.agent.l_name}}
                            <i ng-if="agent.confirm" class="fa fa-check-square-o verified" aria-hidden="true"></i>
                            <i ng-if="!agent.confirm" class="fa fa-ban not-verified" aria-hidden="true"></i>
                            <span class="label label-warning label-sm"> Agent </span>
                        </p>
                        <small class="dist_date"><label>Date: </label> {{agent.createdAt | date:'MM/dd/yy'}}
                        </small>
                        <small class="dist_num"><label>Stock Given: </label> {{agent.quantity}}</small>
                    </div>
                </a>
            </div>
            <div class="col-md-12" ng-repeat="sales_person in dis_summary.sales_person" style="font-size: 18px;">
                <a href="#!/users/details/{{sales_person.sales_person.id}}">
                    <div class="product_receivers_container">
                        <p>{{sales_person.sales_person.f_name}} {{sales_person.sales_person.l_name}}
                            <i ng-if="sales_person.confirm" class="fa fa-check-square-o verified" aria-hidden="true"></i>
                            <i ng-if="!sales_person.confirm" class="fa fa-ban not-verified" aria-hidden="true"></i>
                            <span class="label label-success label-sm"> Sales Person </span>
                        </p>
                        <small class="dist_date"><label>Date: </label> {{sales_person.createdAt | date:'MM/dd/yy'}}
                        </small>
                        <small class="dist_num"><label>Stock Given: </label> {{sales_person.quantity}}</small>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>


<!--Distribute modal-->
<div class="modal fade" id="distribute_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabe">Distribution</h4>
                <div ng-show="(product.dis_product.quantity - distribute.quantity) < 0"
                     class="alert alert-danger">You can't issue more than the quantity left
                </div>
            </div>
            <div class="modal-body" id="distribute_modal_body">
                <form>
                    <div class="row">
                        <div class="col-md-4"><label>Distributor</label></div>
                        <div class="col-md-8">
                            <select ng-model="distribute.user_id"
                                    name="distributor" class="form-control">
                                <option ng-repeat="agent in dis_lists.agent" value="{{agent.agent.id+','+'1'}}">
                                    {{agent.agent.f_name}} {{agent.agent.l_name}} - Agent
                                </option>
                                <option ng-repeat="sales in dis_lists.sales" value="{{sales.sales_person.id+','+'2'}}">
                                    {{sales.sales_person.f_name}} {{sales.sales_person.l_name}} - Sales Person
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Quantity In Stock *</label></div>
                        <div class="col-md-8">
                            <h4>
                                {{product.dis_product.left - distribute.quantity}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Quantity Issuing *</label></div>
                        <div class="col-md-8"><input type="text" class="form-control" placeholder="Quantity"
                                                     name="quantity"
                                                     ng-model="distribute.quantity">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button ng-hide="(product.dis_product.quantity - distribute.quantity) < 0"
                        type="button" class="btn btn-primary" ng-click="issue_product()">Issue
                </button>
            </div>
        </div>
    </div>
</div>
