<style>
    .btn-distri {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
        margin-bottom: 20px;
    }

    .btn-distri:hover {
        border-color: #008c09;
        color: white;
        background: 0 0;
        font-size: 18px;
        background-color: #008c09;
        padding: 3px 30px;
    }

    .product {
        margin-top: 100px;
    }

    .header {
        color: #008c09;
    }

    .distribute {
        margin-top: 50px;
        margin-left: 1px;
    }

    .summary {
        background-color: #008c09;
        padding: 10px 50px;
        color: white;
        font-size: 18px;
        margin-top: 0px;
        margin-left: -16px;
        width: 255px;
    }

    .border_sum {
        border: 5px solid #008c09;
        width: 264px;
    }

    .product_receivers_container .dist_num {
        margin-left: 15px;
        font-weight: bold;
        /*color: #008c09;*/
    }

    .product_receivers_container .dist_date {
        margin-left: 6px;
        /*color: #008c09;*/
    }

    .product_receivers_container > p {
        margin-bottom: 0;
    }

    .product_receivers_container > small {
        color: #999;
    }

    .product_receivers_container .verified {
        color: #4dd0e1;
    }
    .product_receivers_container{
        border-bottom: 1px solid #ccc;
    }
    .not-verified{
        color: #c62828;
    }
</style>
<!--<div class="">-->
<!--<div class="container ">-->
<div class="row">
    <div class="col-xs-12 col-md-3">
        <img class="img-responsive pic-bordered product" src="/images/product.png">
    </div>
    <div class="col-xs-12 col-md-6 product">
        <h1 class="header">{{product_details.tbl_product.name}}</h1>
        <hr>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Description: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product_details.tbl_product.description}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Stock Added: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product_details.tbl_product_item.quantity}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3" style="font-size: 18px;"><label>Product Details: </label></div>
            <div class="col-md-9" style="font-size: 20px;">{{product_details.tbl_product_item.details}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Available Stock: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">{{product_details.tbl_product_item.left}}</div>
        </div>
        <div class="row header">
            <div class="col-md-3 header" style="font-size: 18px;"><label>Product Price: </label></div>
            <div class="col-md-9 " style="font-size: 20px;">¢ {{product_details.tbl_product_item.price}}</div>
        </div>
        <div class="row header distribute">
            <button type="button" class="btn btn-distri"
                    ng-hide="(product_details.tbl_product_item.left) < 1"
                    data-toggle="modal" ng-click="getNumber()" data-target="#distribute_model"> Distribute

            </button>
            <!--<div class="col-xs-12 col-md-3 product border_sum">-->
            <!--<h2 class="caption summary">Distributors Summary</h2>-->
            <!--<div class="row header">-->
            <!--<div class="col-md-7" ng-repeat="distributor in distribute_list" style="font-size: 18px;">-->
            <!--<h4>{{distributor.distributor.f_name}} {{distributor.distributor.l_name}}-->
            <!--<small>{{distributor.createdAt | date:'MMM dd yyyy'}}</small>-->
            <!--</h4>-->
            <!--</div>-->
            <!--<div class="col-md-4" style="font-size: 18px; margin-top: 7px;"></div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="col-xs-12 col-md-5 product border_sum">
        <h2 class="caption summary">Distributors Summary</h2>
        <div class="row header">
            <div class="col-md-12" ng-repeat="distributor in distribute_list" style="font-size: 18px;">
                <a href="#!/users/details/{{distributor.distributor.id}}">
                    <div class="product_receivers_container">

                        <p>{{distributor.distributor.f_name}} {{distributor.distributor.l_name}}
                            <i ng-if="distributor.confirm" class="fa fa-check-square-o verified" aria-hidden="true"></i>
                            <i ng-if="!distributor.confirm" class="fa fa-ban not-verified" aria-hidden="true"></i>

                        </p>
                        <small class="dist_date"><label>Date: </label> {{distributor.createdAt | date:'MM/dd/yy'}}
                        </small>
                        <small class="dist_num"><label>Stock Given: </label> {{distributor.quantity}}</small>

                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<!--Distribute modal-->
<div class="modal fade" id="distribute_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabe">Distribution</h4>
                <div ng-show="(product_details.tbl_product_item.left - product_setup_model.distribute.quantity) < 0"
                     class="alert alert-danger">You can't issue more than the quantity left
                </div>
            </div>
            <div class="modal-body" id="distribute_modal_body">
                <form>
                    <div class="row">
                        <div class="col-md-4"><label>Distributor</label></div>
                        <div class="col-md-8"><select ng-model="product_setup_model.distribute.distributor"
                                                      name="distributor" class="form-control">
                            <option ng-repeat="distributor in distributors" value="{{distributor.tbl_user.id}}">
                                {{distributor.tbl_user.f_name}} {{distributor.tbl_user.l_name}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Quantity In Stock *</label></div>
                        <div class="col-md-8">
                            <h4>
                                {{product_details.tbl_product_item.left - product_setup_model.distribute.quantity}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><label>Quantity Issuing *</label></div>
                        <div class="col-md-8"><input type="text" class="form-control" placeholder="Quantity"
                                                     name="quantity"
                                                     ng-model="product_setup_model.distribute.quantity">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button ng-hide="(product_details.tbl_product_item.left - product_setup_model.distribute.quantity) < 0"
                        type="button" class="btn btn-primary" ng-click="issue_product()">Issue
                </button>
            </div>
        </div>
    </div>
</div>
