<li class="nav-item start ">
    <a class="nav-link click" data-toggle="modal" data-target="#add_new_product_model">
        <span class="title">+ New Product</span>
    </a>
</li>
<li class="nav-item start ">
    <a class="nav-link click" data-toggle="modal" data-target="#add_product_item_model">
        <span class="title">+ New Product Item</span>
    </a>
</li>
