<style>
    .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
        background-color: #364150 !important;
    }
    .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
        background-color: #75879f !important;
    }
    .clock{
        background-color: #75879f;
        padding-left: 129px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $('#calendar').datepicker();

    });
    //Dashboard Clock codes
    $(document).ready(function () {
        $('#myclock').thooClock({
            size: 300,
            dialColor: '#000000',
            dialBackgroundColor: 'transparent',
            secondHandColor: '#F3A829',
            minuteHandColor: '#5cb85c',
            hourHandColor: '#5cb85c',
            alarmHandColor: '#FFFFFF',
            alarmHandTipColor: '#026729',
            hourCorrection: '+0',
            alarmCount: 1,
            showNumerals: true
        });
    });
</script>
<div class="">
    <!--<div class="container">-->
<div class="wrapper">
    <!-- Left side column. contains the logo and sidebar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="" style="margin-left:0px;">

        <!-- Main content -->
        <section class="content">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-aqua" >
                        <div class="inner">
                            <h3 >{{totals.admin}}</h3>

                            <p>Total Administrators</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{totals.dist}}</h3>

                            <p>Total Distributors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{totals.agent}}</h3>

                            <p>Total Agents</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-aqua" >
                        <div class="inner">
                            <h3 id="noofusers" >{{totals.sales}}</h3>

                            <p>Total Sales Persons</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{total_products.product}}</h3>

                            <p>Total Product Items</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 id ="noofproductitemssold">12</h3>

                            <p>Total Product Items Sold</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- second row-->
            <div class="row">
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 id="noofcontrollersserialno">22</h3>

                            <p>Total No Controllers</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 id="noofcotrollersissued">4</h3>

                            <p>Total Controllers Issued</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-9">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 id ="noofunattendednotifications">6</h3>

                            <p>Total Unattended Notifications</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bookmark"></i>
                        </div>

                    </div>
                </div>
                <!-- ./col -->

            </div>
            <!--edn second row-->
            <!-- Main row -->
            <div class="row">

                <section class="col-lg-6 connectedSortable">
                    <!-- Calendar -->
                    <div class="box box-solid bg-green-gradient" style="height:363px;">
                        <div class="box-header">
                            <i class="fa fa-calendar"></i>

                            <h3 class="box-title">Calendar</h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">


                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <!--The calendar -->
                            <div id="calendar" style="width: 100%"></div>
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box -->

                </section>


                <!-- Left col -->
                <section class="col-lg-6 connectedSortable">


                  <div id="myclock" class="clock"></div>


                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->

                <!-- right col -->
            </div>



            <!--End Modal Serial No -->

            <!-- Modal Commission -->
            <div class="modal fade" id="myModalCommision" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Commission</h4>
                        </div>
                        <form id="commissionform">
                            <div class="modal-body">
                                <div class="row">
                                        <div class="col-md-3"><label>Commission *</label></div>
                                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Commission"
                                                                     name="commission" ng-model="dashboard_setup_model.commission.commission">
                                                <button style="margin-left: 381px; margin-top: -31px;" class="btn btn-default" type="button"><i class="fa fa-percent"></i></button>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col-md-3"><label>Description *</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control" placeholder="Description"
                                                                 name="description" ng-model="dashboard_setup_model.commission.description">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" ng-click="new_commission()">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!--End Modal Commission -->

        </section>
        <!-- /.content -->
    </div>
</div>
</div>
</div>
