<div class="" style="padding: 20px">
    <!--<div class="container">-->
    <!--<div class="bg2">-->
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-2">
            <label class="pull-right">Filter by role:</label>
        </div>
        <div class="col-md-10">
            <input placeholder="example: admin" type="text" class="form-control" ng-model="searchText">
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="header">
            <th>Picture</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Full Name</th>
            <!--<th>Last Seen</th>-->
        </tr>
        </thead>

        <!--for non distributor display-->
        <tbody ng-hide="role_weight < 3">
        <tr ng-repeat="user in users | filter:searchText" class="clickable" ng-click="getUserDetails(user.tbl_user.id)">
            <td><img width="50px" class="img-thumbnail"
                     ng-src="{{(user.tbl_user.pix)? '/upload/'+user.tbl_user.pix:'/images/profile-placeholder.jpg'}}"
                     src="/images/profile-placeholder.jpg"/></td>
            <td>{{user.username}}</td>
            <td>{{(user.tbl_role.role=='su')? 'Super User':(user.tbl_role.role=='admin')?
                'Admin':(user.tbl_role.role=='dis')? 'Distributor':(user.tbl_role.role=='agent')?
                'Agent':(user.tbl_role.role=='sales')? 'Sales Person':'Error'}}
            </td>
            <td>{{user.tbl_user.f_name +' '+((user.tbl_user.m_name!==null)? user.tbl_user.m_name:'')+' '+
                user.tbl_user.l_name}}
            </td>
            <!--<td>Mon Jan 1 2017 8:00pm</td>-->
        </tr>
        </tbody>

        <!--######################################-->
        <!--Agent only-->
        <!--######################################-->
        <tbody ng-show="role_weight == 1">
        <tr ng-repeat="user in users | filter:searchText" class="clickable"
            ng-click="getUserDetails(user.sales_person.id)">
            <td><img width="50px" class="img-thumbnail"
                     ng-src="{{(user.sales_person.pix)? '/upload/'+user.sales_person.pix:'/images/profile-placeholder.jpg'}}"
                     src="/images/profile-placeholder.jpg"/></td>
            <td>{{user.tbl_login.username}}</td>
            <td>Sales Person</td>
            <td>{{user.sales_person.f_name +' '+((user.sales_person.m_name!==null)? user.sales_person.m_name:'')+' '+
                user.sales_person.l_name}}
            </td>
            <!--<td>Mon Jan 1 2017 8:00pm</td>-->
        </tr>
        </tbody>

        <!--##################################
                   only distributors
        ###################################-->
        <tbody ng-show="role_weight == 2" class="header">
        <tr ng-repeat="user in users.agent | filter:searchText" class="clickable"
            ng-click="getUserDetails(user.agent.id)">
            <td><img width="50px" class="img-thumbnail"
                     ng-src="{{(user.agent.pix)? '/upload/'+user.agent.pix:'/images/profile-placeholder.jpg'}}"
                     src="/images/profile-placeholder.jpg"/></td>
            <td>{{user.tbl_login.username}}</td>
            <td>Agent</td>
            <td>{{user.agent.f_name +' '+((user.agent.m_name!==null)? user.agent.m_name:'')+' '+
                user.agent.l_name}}
            </td>
            <!--<td>Mon Jan 1 2017 8:00pm</td>-->
        </tr>
        <tr ng-repeat="user in users.sales | filter:searchText" class="clickable"
            ng-click="getUserDetails(user.sales_person.id)">
            <td><img width="50px" class="img-thumbnail"
                     ng-src="{{(user.sales_person.pix)? '/upload/'+user.sales_person.pix:'/images/profile-placeholder.jpg'}}"
                     src="/images/profile-placeholder.jpg"/></td>
            <td>{{user.tbl_login.username}}</td>
            <td>Sales Person</td>
            <td>{{user.sales_person.f_name +' '+((user.sales_person.m_name!==null)? user.sales_person.m_name:'')+' '+
                user.sales_person.l_name}}
            </td>
            <!--<td>Mon Jan 1 2017 8:00pm</td>-->
        </tr>
        </tbody>
    </table>
</div>
<!--</div>-->
<!--</div>-->

<!--####################################-->
<!--#    Create New User Form Modal    #-->
<!--####################################-->
<div class="modal fade" id="add_user_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New User</h4>
                <div ng-if="flash_user_setup_model" class="alert alert-danger">{{flash_user_setup_model}}</div>
            </div>
            <div class="modal-body" id="user_setup_modal_body">
                <h4>Personal Details</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>First Name *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="First Name"
                                                     name="f_name" ng-model="user_setup_model.personal_data.f_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Last Name *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Last Name"
                                                     name="l_name" ng-model="user_setup_model.personal_data.l_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Middle Name</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Middle Name"
                                                     name="m_name" ng-model="user_setup_model.personal_data.m_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Date of Birth *</label></div>
                        <!--<div class="col-md-9"><input type="date" class="form-control" placeholder="1989-12-29"-->
                        <!--name="dob" ng-model="user_setup_model.personal_data.dob">-->
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="user_setup_model.personal_data.dob" is-open="datePopup.a"
                                       ng-required="true" readonly/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePopup('a')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Hometown *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Kumasi"
                                                     name="hometown" ng-model="user_setup_model.personal_data.hometown">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Nationality *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Ghanaian"
                                                     name="nationality"
                                                     ng-model="user_setup_model.personal_data.nationality"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Hobbies *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Reading"
                                                     name="hobbies" ng-model="user_setup_model.personal_data.hobbies">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Profession *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Teacher"
                                                     name="profession"
                                                     ng-model="user_setup_model.personal_data.profession"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>About the User *</label></div>
                        <div class="col-md-9"><textarea type="text" class="form-control" placeholder="Profile"
                                                        name="info"
                                                        ng-model="user_setup_model.personal_data.info"></textarea>
                        </div>
                    </div>
                </form>
                <hr/>
                <h4>Users Contact Information</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Phone Number *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="+23320994567"
                                                     ng-model="user_setup_model.contact.phone"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Physical Address</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Physical Address"
                                                     ng-model="user_setup_model.contact.address"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Direction</label></div>
                        <div class="col-md-9"><textarea class="form-control" placeholder="Direction"
                                                        ng-model="user_setup_model.contact.direction"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Email</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="example@example.com"
                                                     ng-model="user_setup_model.contact.email"></div>
                    </div>
                </form>

                <hr/>
                <h4>Educational Background</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Education Type</label></div>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="user_setup_model.edu.type_of_edu">
                                <option>SHS</option>
                                <option>JHS</option>
                                <option>University</option>
                                <option>Apprentship</option>
                                <option>Non</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><label>School</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="School Name "
                                                     ng-model="user_setup_model.edu.school"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Trainer</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Trainer Name "
                                                     ng-model="user_setup_model.edu.trainer"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Trainer's Contact</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Trainers Contact "
                                                     ng-model="user_setup_model.edu.trainer_contact"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>From</label></div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="user_setup_model.edu.from" is-open="datePopup.b"
                                       ng-required="true" readonly/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePopup('b')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>To</label></div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="user_setup_model.edu.to" is-open="datePopup.c"
                                       ng-required="true" readonly/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePopup('c')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>

                <hr/>
                <h4>Employment History</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Date Started</label></div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="user_setup_model.emply.from" is-open="datePopup.d"
                                       ng-required="true" readonly/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePopup('d')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Date Stopped</label></div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="user_setup_model.emply.to" is-open="datePopup.e"
                                       ng-required="true" readonly/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePopup('e')">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Company Name</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Name of Employer"
                                                     ng-model="user_setup_model.emply.name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Position Held</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Position Held"
                                                     ng-model="user_setup_model.emply.position"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Duties</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Duties"
                                                     ng-model="user_setup_model.emply.duties"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Reason for Leaving</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Reason for Leaving"
                                                     ng-model="user_setup_model.emply.reason_for_leaving"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Referee Contact</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="0254444444"
                                                     ng-model="user_setup_model.emply.referee"></div>
                    </div>
                </form>

                <hr/>
                <h4>Family History</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Father's Name</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Mr. Kofi Kunto"
                                                     ng-model="user_setup_model.family.fa_name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Father's Occupation</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Farmer"
                                                     ng-model="user_setup_model.family.fa_occupation"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Father's Nationality</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Ghanaian"
                                                     ng-model="user_setup_model.family.fa_nationality"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Mother's Name</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Ms Konto"
                                                     ng-model="user_setup_model.family.mo_name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Mother's Occupation</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Teacher"
                                                     ng-model="user_setup_model.family.mo_occupation"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Mother's Nationality</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Ghanaian"
                                                     ng-model="user_setup_model.family.mo_nationality"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Marital Status</label></div>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="user_setup_model.family.marital_status">
                                'single', 'married', 'widowed', 'separated', 'divorced'
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                                <option value="widowed">Widowed</option>
                                <option value="separated">Separated</option>
                                <option value="divorced">Divorced</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Number of Children</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="4"
                                                     ng-model="user_setup_model.family.num_children"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Next of Kin</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="Mr. Kofi"
                                                     ng-model="user_setup_model.family.next_of_kin"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Contact of Next of Kin</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="+233240333333"
                                                     ng-model="user_setup_model.family.nok_contact"></div>
                    </div>

                </form>

                <hr/>
                <h4>Login Details</h4>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-md-3"><label>Username *</label></div>
                        <div class="col-md-9"><input type="text" class="form-control" placeholder="kofik"
                                                     ng-model="user_setup_model.login.username"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Temporal Password *</label></div>
                        <div class="col-md-9"><input type="password" class="form-control"
                                                     ng-model="user_setup_model.login.password"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Role *</label></div>
                        <div class="col-md-9">
                            <select ng-hide="role_weight!=4" class="form-control"
                                    ng-model="user_setup_model.login.role">
                                <option value=""></option>
                                <option value="1">Super User</option>
                                <option value="2">Administrator</option>
                            </select>

                            <select ng-hide="role_weight!=3" class="form-control"
                                    ng-model="user_setup_model.login.role">
                                <option value=""></option>
                                <option value="3">Distributor</option>
                                <option value="4">Agent</option>
                                <option value="5">Sales Person</option>
                            </select>

                            <select ng-hide="role_weight!=2" class="form-control"
                                    ng-model="user_setup_model.login.role">
                                <option value=""></option>
                                <option value="4">Agent</option>
                                <option value="5">Sales Person</option>
                            </select>

                            <select ng-hide="role_weight!=1" class="form-control"
                                    ng-model="user_setup_model.login.role">
                                <option value=""></option>
                                <option value="5">Sales Person</option>
                            </select>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <button type="button" class="btn btn-primary" ng-click="create_user()">Create</button>
            </div>
        </div>
    </div>
</div>
