<div>
    <!--<div class="container ">-->
    <!--<div class="row">-->
    <div class="page-content-wrapper" style="padding: 27px;">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- END THEME PANEL -->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn green btn-sm btn-outline dropdown-toggle"
                                data-toggle="dropdown"> Actions
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <!--<li>-->
                            <!--<a href="#">-->
                            <!--<i class="icon-bell"></i> Band User</a>-->
                            <!--</li>-->
                            <li>
                                <button class="btn no-btn-style" type="button" data-toggle="modal"
                                        data-target="#reset_pass_model">
                                    <i class="icon-bell"></i> Reset Password
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END PAGE BAR -->
            <!-- BEGIN PAGE TITLE-->
            <h3 class="page-title"> {{user_details.login.username}}
                <small>{{(user_details.login.tbl_role.weight == 0) ? "Sales Person" :
                    (user_details.login.tbl_role.weight == 1) ? "Agent" : (user_details.login.tbl_role.weight == 2) ?
                    "Distributor" : (user_details.login.tbl_role.weight == 3) ? "Admin":"Super User"}}
                </small>
            </h3>
            <!-- END PAGE TITLE-->
            <!-- END PAGE HEADER-->
            <div class="profile">
                <div class="tabbable-line tabbable-full-width">
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="Overview">
                            <div class="tab-pane active" id="overview">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-unstyled profile-nav">
                                            <li>
                                                <img
                                                    src="{{(user_details.user.pix)? '/upload/'+user_details.user.pix:'/images/profile-placeholder.jpg'}}"
                                                    class="img-responsive pic-bordered" alt="" width="100%"/>
                                                <a href="javascript:;" class="profile-edit" data-toggle="modal"
                                                   data-target="#updatePicture"> edit </a>
                                            </li>
                                            <!--<li>-->
                                            <!--<a href="javascript:;"> Projects </a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<a href="javascript:;"> Messages-->
                                            <!--<span> 3 </span>-->
                                            <!--</a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<a href="javascript:;"> Friends </a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<a href="javascript:;"> Settings </a>-->
                                            <!--</li>-->
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-8 profile-info">
                                                <h1 class="font-green sbold uppercase">{{user_details.user.f_name +'
                                                    '+user_details.user.l_name}} {{(user_details.user.m_name)?
                                                    user_details.user.m_name:''}}</h1>
                                                <p>
                                                    {{user_details.user.info}}
                                                </p>

                                                <hr/>

                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-map-marker"></i>
                                                        {{user_details.user.nationality}}
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i>
                                                        {{user_details.user.dob_read}}
                                                    </li>
                                                    <!--<li>-->
                                                    <!--<i class="fa fa-briefcase"></i> Design-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                    <!--<i class="fa fa-star"></i> Top Seller-->
                                                    <!--</li>-->
                                                    <!--<li>-->
                                                    <!--<i class="fa fa-heart"></i> BASE Jumping-->
                                                    <!--</li>-->
                                                </ul>
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4" ng-hide="user_details.login.tbl_role.weight > 0">
                                                <div class="portlet sale-summary">
                                                    <div class="portlet-title">
                                                        <div class="caption font-red sbold"> Sales Summary</div>
                                                        <div class="tools">
                                                            <a class="reload" href="javascript:;"> </a>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                    <span class="sale-info"> TODAY SOLD
                                                                        <i class="fa fa-img-up"></i>
                                                                    </span>
                                                                <span class="sale-num"> 0 </span>
                                                            </li>
                                                            <li>
                                                                    <span class="sale-info"> WEEKLY SALES
                                                                        <i class="fa fa-img-down"></i>
                                                                    </span>
                                                                <span class="sale-num"> 0 </span>
                                                            </li>
                                                            <li>
                                                                <span class="sale-info"> TOTAL SOLD </span>
                                                                <span class="sale-num"> 0 </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end col-md-4-->
                                        </div>

                                        <!--########################################-->
                                        <!--User's Customer, transactions and product tab-->
                                        <!--########################################-->

                                        <div class="tabbable-line tabbable-custom-profile"
                                             ng-hide="user_details.login.tbl_role.weight > 2">
                                            <uib-tabset active="activeJustified">
                                                <uib-tab index="0" heading="Products">
                                                    <h2 ng-show="user_products.length < 1">No Product Found</h2>

                                                    <table ng-show="user_products.length > 0"
                                                           class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Quantity Give</th>
                                                            <th>Quantity Not Distributed</th>
                                                            <th>Issued by</th>
                                                            <th>Receipt Confirmed</th>
                                                            <th>Date Issued</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="product in user_products">
                                                            <td>{{product.product.name}}</td>
                                                            <td>{{product.quantity}}</td>
                                                            <td>{{product.left}}</td>
                                                            <td><a href="#!/users/details/{{product.tbl_user.id}}">{{product.tbl_user.f_name
                                                                +' '+ product.tbl_user.l_name}}</a></td>
                                                            <td>
                                                                <span ng-if="!product.confirm"
                                                                      class="label label-danger">Not Confirmed</span>
                                                                <span ng-if="product.confirm" class="label label-info">Confirmed</span>
                                                            </td>
                                                            <td>{{product.createdAt | date: 'MMM dd, yyyy'}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </uib-tab>
                                                <uib-tab index="1" heading="Latest Customers"
                                                         ng-hide="user_details.login.tbl_role.weight >0">
                                                    <table
                                                        class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <i class="fa fa-briefcase"></i> Company
                                                            </th>
                                                            <th class="hidden-xs">
                                                                <i class="fa fa-user"></i> Customer
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-bookmark"></i> Amount
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                No Customers found
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </uib-tab>
                                                <uib-tab index="2" heading="Latest Transaction"
                                                         ng-hide="user_details.login.tbl_role.weight > 0">
                                                    No data
                                                </uib-tab>
                                            </uib-tabset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>

                        <!--################-->
                        <!--User Details Tab-->
                        <!--################-->
                        <uib-tab index="1" heading="Account">

                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">First Name</label></div>
                                <div class="col-md-9"><input type="text" class="form-control"
                                                             placeholder="First Name"
                                                             name="f_name"
                                                             ng-model="user_details.user.f_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Last Name</label></div>
                                <div class="col-md-9"><input type="text" class="form-control"
                                                             placeholder="Last Name"
                                                             name="l_name"
                                                             ng-model="user_details.user.l_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Middle Name</label></div>
                                <div class="col-md-9"><input type="text" class="form-control"
                                                             placeholder="Middle Name"
                                                             name="m_name"
                                                             ng-model="user_details.user.m_name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Date of Birth</label></div>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               ng-model="user_details.user.dob" is-open="datePopup.a"
                                               ng-required="true" readonly/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePopup('a')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Hometown</label></div>
                                <div class="col-md-9"><input type="text" class="form-control" placeholder="Kumasi"
                                                             name="hometown"
                                                             ng-model="user_details.user.hometown">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Nationality</label></div>
                                <div class="col-md-9"><input type="text" class="form-control" placeholder="Ghanaian"
                                                             name="nationality"
                                                             ng-model="user_details.user.nationality">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Hobbies</label></div>
                                <div class="col-md-9"><input type="text" class="form-control" placeholder="Reading"
                                                             name="hobbies"
                                                             ng-model="user_details.user.hobbies">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">Profession</label></div>
                                <div class="col-md-9"><input type="text" class="form-control" placeholder="Teacher"
                                                             name="profession"
                                                             ng-model="user_details.user.profession"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><label class="pull-right">About the User</label></div>
                                <div class="col-md-9"><textarea type="text" class="form-control"
                                                                placeholder="Profile"
                                                                name="info"
                                                                ng-model="user_details.user.info"></textarea>
                                </div>
                            </div>
                            </form>
                            <hr/>
                            <h4>Users Contact Information</h4>
                            <hr/>
                            <form>
                                <!--<div class="row">-->
                                <!--<div class="col-md-3"><label class="pull-right">Phone Number</label></div>-->
                                <!--<div class="col-md-9"><input type="text" class="form-control"-->
                                <!--placeholder="+23320994567"-->
                                <!--ng-model="user_details.contact.phone"></div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Physical Address</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Physical Address"
                                                                 ng-model="user_details.contact.address"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Direction</label></div>
                                    <div class="col-md-9"><textarea class="form-control" placeholder="Direction"
                                                                    ng-model="user_details.contact.direction"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Email</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="example@example.com"
                                                                 ng-model="user_details.contact.email"></div>
                                </div>
                            </form>

                            <hr/>
                            <h4>Educational Background</h4>
                            <hr/>
                            <form>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Education Type</label></div>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="user_details.education.type_of_edu">
                                            <option>SHS</option>
                                            <option>JHS</option>
                                            <option>University</option>
                                            <option>Apprentship</option>
                                            <option>Non</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">School</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="School Name "
                                                                 ng-model="user_details.education.school"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Trainer</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Trainer Name "
                                                                 ng-model="user_details.education.trainer"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Trainer's Contact</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Trainers Contact "
                                                                 ng-model="user_details.education.trainer_contact">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">From</label></div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="user_details.education.from" is-open="datePopup.b"
                                                   ng-required="true" readonly/>
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePopup('b')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">To</label></div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="user_details.education.to" is-open="datePopup.c"
                                                   ng-required="true" readonly/>
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePopup('c')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <hr/>
                            <h4>Employment History</h4>
                            <hr/>
                            <form>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Date Started</label></div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="user_details.emply.from" is-open="datePopup.d"
                                                   ng-required="true" readonly/>
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePopup('d')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Date Stopped</label></div>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                   ng-model="user_details.emply.to" is-open="datePopup.c"
                                                   ng-required="true" readonly/>
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openDatePopup('c')">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Company Name</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Name of Employer"
                                                                 ng-model="user_details.emply.name"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Position Held</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Position Held"
                                                                 ng-model="user_details.emply.position"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Duties</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Duties"
                                                                 ng-model="user_details.emply.duties"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Reason for Leaving</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Reason for Leaving"
                                                                 ng-model="user_details.emply.reason_for_leaving">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Referee Contact</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="0254444444"
                                                                 ng-model="user_details.emply.referee"></div>
                                </div>
                            </form>

                            <hr/>
                            <h4>Family History</h4>
                            <hr/>
                            <form>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Father's Name</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Mr. Kofi Kunto"
                                                                 ng-model="user_details.family.fa_name"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Father's Occupation</label>
                                    </div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Farmer"
                                                                 ng-model="user_details.family.fa_occupation"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Father's Nationality</label>
                                    </div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Ghanaian"
                                                                 ng-model="user_details.family.fa_nationality">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Mother's Name</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Ms Konto"
                                                                 ng-model="user_details.family.mo_name"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Mother's Occupation</label>
                                    </div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Teacher"
                                                                 ng-model="user_details.family.mo_occupation"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Mother's Nationality</label>
                                    </div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Ghanaian"
                                                                 ng-model="user_details.family.mo_nationality">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Marital Status</label></div>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="user_details.family.marital_status">
                                            'single', 'married', 'widowed', 'separated', 'divorced'
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="widowed">Widowed</option>
                                            <option value="separated">Separated</option>
                                            <option value="divorced">Divorced</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Number of Children</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control" placeholder="4"
                                                                 ng-model="user_details.family.num_children"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Next of Kin</label></div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="Mr. Kofi"
                                                                 ng-model="user_details.family.next_of_kin"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label class="pull-right">Contact of Next of Kin</label>
                                    </div>
                                    <div class="col-md-9"><input type="text" class="form-control"
                                                                 placeholder="+233240333333"
                                                                 ng-model="user_details.family.nok_contact"></div>
                                </div>

                            </form>

                            <hr/>
                            <!--<h4>Login Details</h4>-->
                            <!--<hr/>-->
                            <!--<form>-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-3"><label class="pull-right">change Password</label></div>-->
                            <!--<div class="col-md-9"><input type="password" class="form-control"-->
                            <!--ng-model="user_details.login.password"></div>-->
                            <!--</div>-->
                            <!--</form>-->
                            <!--<hr/>-->
                            <button class="btn btn-info pull-right" ng-click="update_user_profile()"
                                    style="margin-bottom: 20px">Update
                            </button>
                        </uib-tab>
                        <!--<uib-tab index="2" heading="Info">-->
                        <!--<div class="tab-pane" id="info">-->
                        <!--</div>-->
                        <!--&lt;!&ndash;end tab-pane&ndash;&gt;-->
                        <!--</uib-tab>-->
                    </uib-tabset>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
</div>
<!--</div>-->
<!--</div>-->

<div class="modal fade" id="reset_pass_model" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset Password </h4>
            </div>
            <form>
                <div class="modal-body">
                    <div ng-if="flash_user_change_pass_model" class="alert alert-danger">
                        {{flash_user_change_pass_model}}
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>New Password</label></div>
                        <div class="col-md-9"><input type="password" class="form-control" placeholder="Password"
                                                     name="password" ng-model="pass_reset.new_pass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><label>Confirm Password</label></div>
                        <div class="col-md-9"><input type="password" class="form-control" placeholder="Password"
                                                     name="com_password" ng-model="pass_reset.confirm_new_pass">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="change_password()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>


<div class="modal fade" id="updatePicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload Profile Picture</h4>
            </div>
            <form>
                <div class="modal-body">
                    <input id="image_input" type="file" multiple data-sequential-uploads="true" name="pix"/>
                </div>
                <div class="modal-footer">

                    <button type="button" ng-click="upload_profile_picture()" class="btn btn-primary">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
